body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* The Modal (background) */
}
body h1 {
  margin: 2em;
}
body .main {
  display: flex;
  width: 100%;
  /* Hangman figur */
}
body .main .hangmandraw {
  background-color: #ffffff87;
  height: 324px;
  width: 17%;
  /* First fail */
  /* Second fail */
  /* Third fail */
  /* Forth fail */
  /* Fifth fail */
}
body .main .hangmandraw .thedraw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}
body .main .hangmandraw .thestand {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}
body .main .hangmandraw .thehang {
  display: none;
}
body .main .hangmandraw .thehang:before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}
body .main .hangmandraw .thehang:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}
body .main .hangmandraw .therope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  display: none;
}
body .main .hangmandraw .theman {
  /* Sixth fail */
  /* Seventh fail */
  /* Eight fail */
}
body .main .hangmandraw .theman .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 105px;
  top: 55px;
  display: none;
}
body .main .hangmandraw .theman .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 130px;
  display: none;
}
body .main .hangmandraw .theman .hands {
  display: none;
}
body .main .hangmandraw .theman .hands:before {
  left: 85px;
  transform: rotate(30deg);
}
body .main .hangmandraw .theman .hands:after {
  left: 130px;
  transform: rotate(-30deg);
}
body .main .hangmandraw .theman .hands:before, body .main .hangmandraw .theman .hands:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
  top: 140px;
}
body .main .hangmandraw .theman .legs {
  display: none;
}
body .main .hangmandraw .theman .legs:before {
  left: 85px;
  transform: rotate(-30deg);
}
body .main .hangmandraw .theman .legs:after {
  left: 130px;
  transform: rotate(30deg);
}
body .main .hangmandraw .theman .legs:after, body .main .hangmandraw .theman .legs:before {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
  top: 220px;
}
body .main #wordFields {
  width: 50%;
  height: 60vh;
  display: block;
  text-align: center;
  margin-left: 20rem;
  margin-right: 2rem;
}
body .main #wordFields #inputFields {
  width: 100%;
  height: 20vh;
}
body .main #wordFields #inputFields input {
  height: 50px;
  width: 50px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 50px;
  text-align: center;
}
body .main #wordFields #alphabeticButtons {
  width: 100%;
  height: 40vh;
}
body .main #wordFields #alphabeticButtons button {
  background-color: #8500f1;
  border: 1px solid black;
  color: white;
  height: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
body .main #wordFields #alphabeticButtons button:hover {
  background-color: black;
  color: white;
}
body .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}
body .modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
body .modal .modal-content .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  /* The Close Button */
}
body .modal .modal-content .modal-header .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .modal .modal-content .modal-header .close:hover, body .modal .modal-content .modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body .modal .modal-content .modal-header img {
  width: 100%;
  filter: alpha(Opacity=90);
}

input[type=submit] {
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: white;
  color: black;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 1080px) {
  body h1 {
    text-align: center;
  }
  body .main {
    display: block;
  }
  body .main .hangmandraw {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 666px) {
  body .main #wordFields {
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 390px) {
  body .main .hangmandraw {
    height: 158px;
  }
  body .main .hangmandraw .thedraw {
    height: 100px;
  }
  body .main .hangmandraw .thehang:before {
    height: 2px;
    width: 50px;
  }
  body .main .hangmandraw .thehang:after {
    width: 4px;
    height: 10px;
    left: 78px;
    top: 15px;
  }
  body .main .hangmandraw .therope {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 74px;
    top: 33px;
  }
  body .main .hangmandraw .theman .head {
    width: 20px;
    height: 20px;
    left: 66px;
    top: 25px;
  }
  body .main .hangmandraw .theman .body {
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 8px;
    top: 52px;
    left: 78px;
  }
  body .main .hangmandraw .theman .legs {
    text-align: center;
  }
  body .main .hangmandraw .theman .legs:before {
    width: 28px;
    height: 4px;
    top: 94px;
  }
  body .main .hangmandraw .theman .legs:after {
    width: 28px;
    height: 4px;
    top: 94px;
  }
  body .main #wordFields #inputFields {
    width: 100%;
    height: 8vh;
  }
  body .main #wordFields #inputFields input {
    height: 25px;
    width: 25px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 25px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */